.container{
    box-sizing:border-box;
    position:fixed;
    background-image:url("https://images3.alphacoders.com/276/276565.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.container h1{
    background-image:url("https://cdn-icons-png.flaticon.com/128/3178/3178294.png");
    background-repeat:no-repeat;
    background-size:contain;
    text-align:center;
    width:90%;
    margin-left:50px;
    font-size:40px;
    margin-top:5px;
    color:#FFFFFF;
    border:2px solid #000000;
    border-radius:13px;
    background-color:#808080;
}
.images{
    display:flex;
    flex-wrap:wrap;
    margin-left:80px;
}
.images img{
    height:230px;
    width:500px;
    border:5px solid #FFFFFF;
    overflow:hidden;
    margin-left:20px;
    margin-bottom:5px;
    border-radius:25px;
    flex-direction:row;
    cursor:pointer;
}
.images img:hover{
    transform: scale(0.9);
}
.light-box{
    display:none; 
    width:100%;
    height:100%;
    position:fixed;
    z-index:100;
    align-items:center;
}
.light-box .close-button{
    position:absolute;
    right:10px;
    font-size:25px;
    cursor:pointer;
    color:#FF0000;
    margin-bottom:550px;

}
.light-box img{
    height:60%;
    width:60%;
    margin-left:220px;
    border:5px solid #000000;
    position:absolute;
}
